<!DOCTYPE html>
<html lang="">

{% include head.html %}

<body>
  <div id="wrapper">
    <header>
      <h1>{{ site.title }}</h1>
    </header>

    <div id="acronymForm">
      <form onsubmit="return false;">
        <label for="acronym">Acronym to generate:</label>
        <br>
        <br>
        <input type="text" id="acronym" placeholder="Dab">
        <br />
        <button id="startBttn" type="submit" onclick="generateAcronym()">Generate!</button>
      </form>
    </div>
    <br>
    <div id="generatedAcronym">
      <span id="generatedphrase" class="line"></span>
    </div>
    {% include footer.html %}
  </div>
</body>

</html>
